{{#each question}}
    <li> CHOICES {{choice}}</li>
    <li> Question ID {{qid}}</li>
    <li> Module Code {{modulecode}}</li>
    <li>Description {{description}}</li>
    <li> Correct ID {{correctid}}</li>
    <br> <br>



{{/each}}